*{
margin: 0;
padding: 0;
font-style: italic ;
}
/* }.container{
    border: 3px solid black;
    padding: 20px;
    background-color: aqua;
}
.container h1{
border: 1px solid black;
margin-bottom: 40px;
padding-left: 10px;
padding-bottom: 2px;
padding-right: 3px;
padding-top: 3px;

}

.container p{
    border: 3px solid blue;
    padding: 10px;



}
.abc{
    margin-top: 20px;
    border: 5px solid blanchedalmond;
} */
 .ABC{
    width: 400px;
    border: 3px solid black;
    padding: 20px;
    margin: 5px auto;
 }
.ABC input{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
    margin-left: 15px;
}
.ABC label{
    font-size: 12px;
}
.ABC button{
    background-color: brown;
    padding: 10px 10px;
    margin-left: auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.con-button{
    padding: 20px 20px ;
    margin: auto;
    cursor: pointer;

}
.con-button:hover{
    padding: 20px;
    margin: auto;
    color: black;

}